label, input, span {
    color: white !important;
}

.buddy-background {
    background-color: #031225 !important;
    background-size: cover;
}

.white-text{
    color:white
}
.horizontal-center {
    margin-left:auto !important;
    margin-right: auto !important;
}

