@page "/"

<PageTitle>Welcome</PageTitle>
<div class="buddy-background" style="justify-items:center">
    <MudContainer Class="d-flex align-center justify-center" Style="height:100vh">
        <span Style="color:white">Welcome To Focus Buddy.</span>
    </MudContainer>
</div>


@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}
