@page "/register";

<PageTitle>Register</PageTitle>
<div style="background-color:#031225; justify-items:center">
    <MudContainer Class="d-flex align-center justify-center" Style="height:100vh">
        
    </MudContainer>
</div>

@code {

}
